logs
*.log
npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
libpeerconnection.log
testem.log

node_modules
typings

dist
/dist
dist-ssr
/tmp
/out-tsc
/bazel-out
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

.angular
/.angular/cache
.cache
.sass-cache/
coverage
.cache

.env
.env.*

.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.DS_Store
Thumbs.db

*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates
*.userprefs
mono_crash.*
TestResults*
.dotnet

connect.lock
/connect.lock
__screenshots__/
*.sw?
